<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="mesure">
      <h2 data-cy="mesureDetailsHeading"><span jhiTranslate="cliniqueApp.mesure.detail.title">Mesure</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ mesure.id }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.mesure.type">Type</span></dt>
        <dd>
          <span>{{ mesure.type }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.mesure.valeur">Valeur</span></dt>
        <dd>
          <span>{{ mesure.valeur }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.mesure.date">Date</span></dt>
        <dd>
          <span>{{ mesure.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.mesure.patient">Patient</span></dt>
        <dd>
          <div *ngIf="mesure.patient">
            <a [routerLink]="['/patient', mesure.patient?.id, 'view']">{{ mesure.patient?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/mesure', mesure.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
