<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="capteur">
      <h2 data-cy="capteurDetailsHeading"><span jhiTranslate="cliniqueApp.capteur.detail.title">Capteur</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ capteur.id }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.capteur.type">Type</span></dt>
        <dd>
          <span>{{ capteur.type }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.capteur.reference">Reference</span></dt>
        <dd>
          <span>{{ capteur.reference }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.capteur.resolution">Resolution</span></dt>
        <dd>
          <span>{{ capteur.resolution }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.capteur.valeurMin">Valeur Min</span></dt>
        <dd>
          <span>{{ capteur.valeurMin }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.capteur.valeurMax">Valeur Max</span></dt>
        <dd>
          <span>{{ capteur.valeurMax }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/capteur', capteur.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
