<div>
  <h2 id="page-heading" data-cy="MesureHeading">
    <span jhiTranslate="cliniqueApp.mesure.home.title">Mesures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="cliniqueApp.mesure.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mesure"
        [routerLink]="['/mesure/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="cliniqueApp.mesure.home.createLabel"> Create a new Mesure </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="mesures?.length === 0">
    <span jhiTranslate="cliniqueApp.mesure.home.notFound">No mesures found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="mesures && mesures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="cliniqueApp.mesure.type">Type</span></th>
          <th scope="col"><span jhiTranslate="cliniqueApp.mesure.valeur">Valeur</span></th>
          <th scope="col"><span jhiTranslate="cliniqueApp.mesure.date">Date</span></th>
          <th scope="col"><span jhiTranslate="cliniqueApp.mesure.patient">Patient</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mesure of mesures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mesure', mesure.id, 'view']">{{ mesure.id }}</a>
          </td>
          <td>{{ mesure.type }}</td>
          <td>{{ mesure.valeur }}</td>
          <td>{{ mesure.date | formatMediumDate }}</td>
          <td>
            <div *ngIf="mesure.patient">
              <a [routerLink]="['/patient', mesure.patient?.id, 'view']">{{ mesure.patient?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/mesure', mesure.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/mesure', mesure.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(mesure)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
