<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-capteur-heading" data-cy="CapteurCreateUpdateHeading" jhiTranslate="cliniqueApp.capteur.home.createOrEditLabel">
        Create or edit a Capteur
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cliniqueApp.capteur.type" for="field_type">Type</label>
          <input type="text" class="form-control" name="type" id="field_type" data-cy="type" formControlName="type" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cliniqueApp.capteur.reference" for="field_reference">Reference</label>
          <input type="text" class="form-control" name="reference" id="field_reference" data-cy="reference" formControlName="reference" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cliniqueApp.capteur.resolution" for="field_resolution">Resolution</label>
          <input
            type="text"
            class="form-control"
            name="resolution"
            id="field_resolution"
            data-cy="resolution"
            formControlName="resolution"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cliniqueApp.capteur.valeurMin" for="field_valeurMin">Valeur Min</label>
          <input type="number" class="form-control" name="valeurMin" id="field_valeurMin" data-cy="valeurMin" formControlName="valeurMin" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="cliniqueApp.capteur.valeurMax" for="field_valeurMax">Valeur Max</label>
          <input type="number" class="form-control" name="valeurMax" id="field_valeurMax" data-cy="valeurMax" formControlName="valeurMax" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
