<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="boitier">
      <h2 data-cy="boitierDetailsHeading"><span jhiTranslate="cliniqueApp.boitier.detail.title">Boitier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ boitier.id }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.boitier.type">Type</span></dt>
        <dd>
          <span>{{ boitier.type }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.boitier.ref">Ref</span></dt>
        <dd>
          <span>{{ boitier.ref }}</span>
        </dd>
        <dt><span jhiTranslate="cliniqueApp.boitier.nbrBranche">Nbr Branche</span></dt>
        <dd>
          <span>{{ boitier.nbrBranche }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/boitier', boitier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
